*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: khaki;
}
.cabecalho{
    width: 1000px;
    height: 100px 50px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho h2{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho p{
    padding-right: 10px;
}
.cabecalho p a{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.conteiner{
    width: 1000px;
    height: 500vh;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 35px;
    
}
.box{
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
}
.box h2{
    text-align: center;
}
.introducao img{
    width: 750px;
    height: 400px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.introducao h2{
    text-align: center;
}
.box p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px;
    display: flex;
    
}
.rodape{
    width: 800px;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.conteiner p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.introducao h2{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
table{
    color: black;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
.conteiner td{
    border: 2px solid black;
    text-align: center;
    width: 100px;
    height: 50px;
}
.box img{
    width: 400px;
    height: 350px;
    align-items: center;
    margin: 0 auto;
    margin: 0 28%;
}


